

.mainconteent2{
    padding-top: 2rem;
}

.blue-action-btn{
    padding: 0.65rem 0.75rem;
}

.mid-content{
    margin-top: 2.25rem;
}

.middlepart {
    width: 50%;
    /* height: 75vh; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-input1{
    position: fixed;
    bottom: 10vh;
    width: 48%;
    left: 50%; /* Move to the middle horizontally */
    transform: translateX(-50%); /* Adjust to perfectly center */
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.20);
}

.question-card{
    margin-bottom: 7rem;
}

@media (max-width: 1100px) {

    .middlepart {
        width: 60%;
    }

    .fixed-input1{
        width: 57% !important;
    }

}

@media (max-width: 800px) {

    .middlepart {
        width: 25%;
        align-items: center;
        height: 72vh;
        margin-right: 1rem;
    }

    .question-card , .mid-content{
        width:30rem;
    }

    .mid-content{
        margin-top: 4.25rem !important;
    }

    .fixed-input1{
        width: 72% !important;
        transform: translateX(-51.5%); /* Adjust to perfectly center */
    }

}

@media (max-width: 750px) {
    .fixed-input1{
        width: 80% !important;
        transform: translateX(-52%); /* Adjust to perfectly center */
    }
}


@media (max-width: 600px) {

    .black-lg-700{
        font-size: 1rem !important;
    }
    .grey-md2{
        font-size:0.75rem !important;
    }

    .question-card , .mid-content{
        width:25rem;
    }

    .mainconteent2{
        padding-top: 1rem;
    }

}


@media (max-width: 550px) {

        .question-card , .mid-content{
            width:23rem;
        }
        .question-card{
            padding:1rem;
        }

        .mid-content{
            margin-top: 3rem !important;
            margin-bottom: 1rem;
        }

        .ques{
            gap: 1rem !important;
        }

        .navbar{
            padding: 1rem 2rem !important;
        }

    }


@media (max-width: 480px) {
    .question-card, .mid-content {
        width: 20rem;
        font-size: 0.8rem;
    }

    .bottombar{
        font-size: 0.75rem;
        padding: 0.5rem 0.85rem;
    }

    /* .ques{
        flex-direction: column-reverse;
    } */

    .custom-input2{
        height: 3rem;

        .blue-action-btn{
            align-self: flex-end;
        }
    }


}

@media (max-width: 420px) {
    .question-card, .mid-content {
        width: 18rem;
        font-size: 0.8rem !important;
    }

    .custom-input2{
        font-size: 0.8rem !important;
        padding: 0.55rem !important;
    }

}


/* Apply styles when the orientation is landscape */
@media only screen and (max-width: 768px) and (orientation: landscape) {

    .main-bg2 {
      padding-bottom: 14rem;
    }
  
  }
