

.blue-action-btn{
    padding: 0.65rem 0.75rem;
}

@media (max-width: 550px) {

    .navbar{
        padding: 1rem 2rem;
    }

}

.top-part{
    margin-left:10vw;
}

.main-part{
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction:column;
    gap:1.5rem;
    align-self:center;
}

@media (max-width: 1050px) {

    .main-part{
        width: 60vw;
    }

}

@media (max-width: 950px) {

    .main-part{
        width: 70vw;
    }

}

@media (max-width: 750px) {

    .main-part{
        width: 80vw;
    }

}

@media (max-width: 560px) {

    .ops{
        flex-direction: column;
    }

    .custom-radio-btn{
        max-width: unset;
        width: 90%;
    }

    .custom-input2{
        gap: 0 !important;
    }

    .blue-action-btn{
        margin-top: 1rem;
    }

    .top-part{
        margin-left: 5vw;
    }

    .main-part{
        margin-right: 1.5rem;
    }

    .blue-action-btn{
        width: 100% !important;
    }

}


/* Apply styles when the orientation is landscape */
@media only screen and (orientation: landscape) {

    .main-bg2 {
      padding-bottom: 12rem;
    }
  
  }
