
.blue-action-btn{
    padding: 0.65rem 0.75rem;
}

.custom-radio-btn{
    width:90%;
    min-width: none;
    max-width: none;
}

.inner-con{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    padding-top:2rem;
    gap: 1rem;
    height:100%;
    padding-bottom: 10rem;
}

@media (max-width: 550px) {

    .navbar{
        padding: 1rem 2rem !important;
    }

}

.top-part{
    margin-left:10vw;
    align-self: baseline;
}

@media (max-width: 850px) {
    .custom-input2{
        width: 50vw;
        align-self: center;
    }
}

@media (max-width: 600px) {
    .custom-input2{
        width: 70vw;
    }
}

@media (max-width:500px) {
    .custom-input2{
        width: 75vw;
    }

    .blue-action-btn{
        width: 100% !important;
    }

    .inner-con{
        padding-bottom: 15rem;
    }
}


.main-bg2{
    overflow-y: scroll;
}

/* Apply styles when the orientation is landscape */
@media only screen and (max-width: 768px) and (orientation: landscape) {

    .main-bg2 {
      padding-bottom: 14rem;
      overflow-y: hidden;
    }
  
  }